<div class="col-span-12 card 2xl:col-span-12">
  <div class="card-body">
    <div class="grid items-center grid-cols-1 gap-3 mb-5 2xl:grid-cols-12">
      <div class="2xl:col-span-3">
        <h6 class="text-15 text-gold-700">Metal Prices (1g)</h6>
      </div>
      <!--end col-->
      <div class="2xl:col-span-3 2xl:col-start-10">
        <div class="flex gap-3">
          <div class="relative grow">
            <input
              [(ngModel)]="searchInput"
              type="text"
              class="pl-7 ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"
              placeholder="Search for ..."
              autocomplete="off"
            />

            <lucide-angular
              [img]="search"
              [class]="
                'ml-2 inline-block size-4 absolute ltr:left-2.5 rtl:right-1.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600'
              "
            ></lucide-angular>
          </div>
          <button
          (click)="isAddPrice =true"
            type="button"
            class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20"
          >
            Add New
          </button>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end grid-->
    <div class="overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <thead
          class="ltr:text-left rtl:text-right bg-slate-100 text-slate-500 dark:text-zink-200 dark:bg-zink-600"
        >
          <tr>
            <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              #
            </th>
            <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              Date
            </th>
            <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              Metal
            </th>
            <th
            class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
          >
            Price
          </th>
            <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          @for(data of MetalList |searchPipe:searchInput ;track $index){
          <tr class="text-center">
            <td
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
            >
              {{ $index+1 }}
            </td>
            <td
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
            >
              {{ data.Date_Added | date : "dd-MMM-yyyy" }}
            </td>
            <td
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
            >
              {{ data.Metal_Name }}
            </td>
            <td
            class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
          >
            {{ data.Price }}
          </td>
            <td
              (click)="deleteRow(data.Price_ID)"
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500 cursor-pointer"
            >
              <lucide-angular
                [img]="delete"
                [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1 text-red-600'"
              ></lucide-angular>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--end col-->

@if (isAddPrice) {
    <app-add-price (status)="priceAddingStatus($event)" />
    }
