<div class="col-span-12 card 2xl:col-span-12">
  <div class="card-body">
    <div class="grid items-center grid-cols-1 gap-3 mb-5 2xl:grid-cols-12">
      <div class="2xl:col-span-3">
        <h6 class="text-15 text-gold-700">Product Categories</h6>
      </div>
      <!--end col-->
      <div class="2xl:col-span-3 2xl:col-start-10">
        <div class="flex gap-3">
          <div class="relative grow">
            <input
              [(ngModel)]="searchInput"
              type="text"
              class="pl-7 ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"
              placeholder="Search for ..."
              autocomplete="off"
            />

            <lucide-angular
              [img]="search"
              [class]="
                'ml-2 inline-block size-4 absolute ltr:left-2.5 rtl:right-1.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600'
              "
            ></lucide-angular>
          </div>
          <button
            (click)="addCategory()"
            type="button"
            class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20"
          >
            Add New
          </button>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end grid-->
    <div class="overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <thead
          class="ltr:text-left rtl:text-right bg-slate-100 text-slate-500 dark:text-zink-200 dark:bg-zink-600"
        >
          <tr>
            <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              #
            </th>
            <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              Category Name
            </th>
            <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              Image
            </th>
            <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              Featured
            </th>
            <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              Status
            </th>
            <!-- <th
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
            >
              Action
            </th> -->
          </tr>
        </thead>
        <tbody>
          @for(data of categoryList |searchPipe:searchInput ;track $index){
          <tr class="text-center">
            <td
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
            >
              {{ $index + 1 }}
            </td>
            <td
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
            >
              {{ data.Category_Name }}
              <span
                (click)="editCategory($index)"
                class="ml-4 hover:cursor-pointer"
              >
                <lucide-angular
                  [img]="edit"
                  [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1'"
                ></lucide-angular
              ></span>
            </td>
            <td
              (click)="zoomImage($index)"
              class="flex justify-center px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500 cursor-pointer"
            >
              <img
                class="h-14 w-14"
                [src]="getImage(data.Category_Image)"
                [alt]="data.Category_Name"
                loading="lazy"
              />
            </td>

            <td
              (click)="changeFeature($index)"
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500 cursor-pointer"
            >
              <span
                class="delivery_status px-2.5 py-0.5 text-xs inline-block font-medium rounded border"
                [ngClass]="{
                  'bg-green-100 border-green-200 text-green-500 dark:bg-green-500/20 dark:border-green-500/20':
                    data.Is_Feature,
                  'bg-red-100 border-red-200 text-red-500 dark:bg-red-500/20 dark:border-red-500/20':
                    !data.Is_Feature
                }"
              >
                {{ data.Is_Feature ? "Yes" : "No" }}
              </span>
            </td>

            <td
              (click)="changeStatus($index)"
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500 cursor-pointer"
            >
              <span
                class="delivery_status px-2.5 py-0.5 text-xs inline-block font-medium rounded border"
                [ngClass]="{
                  'bg-green-100 border-green-200 text-green-500 dark:bg-green-500/20 dark:border-green-500/20':
                    data.Is_Active,
                  'bg-red-100 border-red-200 text-red-500 dark:bg-red-500/20 dark:border-red-500/20':
                    !data.Is_Active
                }"
              >
                {{ data.Is_Active ? "Active" : "In Active" }}
              </span>
            </td>

            <!--             
            <td
              class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500 flex justify-center"
            >
              <div mndropdown class="relative dropdown" placement="bottom-end">
                <button
                  mndropdownToggle
                  id="orderAction1"
                  data-bs-toggle="dropdown"
                  class="flex items-center justify-center size-[30px] dropdown-toggle p-0 text-slate-500 btn bg-slate-100 hover:text-white hover:bg-slate-600 focus:text-white focus:bg-slate-600 focus:ring focus:ring-slate-100 active:text-white active:bg-slate-600 active:ring active:ring-slate-100 dark:bg-slate-500/20 dark:text-slate-400 dark:hover:bg-slate-500 dark:hover:text-white dark:focus:bg-slate-500 dark:focus:text-white dark:active:bg-slate-500 dark:active:text-white dark:ring-slate-400/20"
                >
                  <lucide-angular
                    [img]="more_horizontal"
                    [class]="'size-3'"
                  ></lucide-angular>
                </button>
                <ul
                  mndropdownMenu
                  class="absolute z-50 py-2 mt-1 ltr:text-left rtl:text-right list-none bg-white rounded-md shadow-md dropdown-menu min-w-[10rem] dark:bg-zink-600"
                  aria-labelledby="orderAction1"
                >
                  <li>
                    <a
                      class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                      href="javascript:void(0);"
                      ><lucide-angular
                        [img]="edit"
                        [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1'"
                      ></lucide-angular>
                      <span class="align-middle">Edit</span></a
                    >
                  </li>
                  <li>
                    <a
                      class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                      href="javascript:void(0);"
                      ><lucide-angular
                        [img]="trash"
                        [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1'"
                      ></lucide-angular>
                      <span class="align-middle">Delete</span></a
                    >
                  </li>
                </ul>
              </div>
            </td> -->
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--end col-->

@if (isAddCate) {
<app-add-cate (status)="categoryAddingStatus($event)" />
} @if (isUpdateCate) {
<app-update-cate-name
  (catename)="updateCateStatus($event)"
  [cate]="selectedCategory"
/>
} @if (isZoomImage) {
<app-zoom-image (close)="onClose($event)" [cate]="selectedCategory" />
}
