<div class="grid grid-cols-12 2xl:grid-cols-12 gap-x-5">
  <div class="col-span-12 card md:col-span-6 lg:col-span-3 2xl:col-span-2">
    <div class="text-center card-body">
      <div
        class="flex items-center justify-center mx-auto rounded-full size-14 bg-custom-100 text-custom-500 dark:bg-custom-500/20"
      >
        <lucide-angular [img]="wallet" class="my-icon"></lucide-angular>
      </div>
      <h5 class="mt-4 mb-2">
        <span
          class="counter-value"
          [countUp]="236.18"
          [options]="{ decimalPlaces: 2 }"
          >0</span
        >k
      </h5>
      <p class="text-slate-500 dark:text-zink-200">Total Revenue</p>
    </div>
  </div>
  <!--end col-->
  <div class="col-span-12 card md:col-span-6 lg:col-span-3 2xl:col-span-2">
    <div class="text-center card-body">
      <div
        class="flex items-center justify-center mx-auto text-purple-500 bg-purple-100 rounded-full size-14 dark:bg-purple-500/20"
      >
        <lucide-angular [img]="Package" class="my-icon"></lucide-angular>
      </div>
      <h5 class="mt-4 mb-2">
        <span class="counter-value" [countUp]="13461">0</span>
      </h5>
      <p class="text-slate-500 dark:text-zink-200">Total Orders</p>
    </div>
  </div>
  <!--end col-->
  <div class="col-span-12 card md:col-span-6 lg:col-span-3 2xl:col-span-2">
    <div class="text-center card-body">
      <div
        class="flex items-center justify-center mx-auto text-green-500 bg-green-100 rounded-full size-14 dark:bg-green-500/20"
      >
        <lucide-angular [img]="Truck" class="my-icon"></lucide-angular>
      </div>
      <h5 class="mt-4 mb-2">
        <span class="counter-value" [countUp]="17150">0</span>
      </h5>
      <p class="text-slate-500 dark:text-zink-200">Delivered</p>
    </div>
  </div>
  <!--end col-->
  <div class="col-span-12 card md:col-span-6 lg:col-span-3 2xl:col-span-2">
    <div class="text-center card-body">
      <div
        class="flex items-center justify-center mx-auto text-red-500 bg-red-100 rounded-full size-14 dark:bg-red-500/20"
      >
        <lucide-angular [img]="PackageX" class="my-icon"></lucide-angular>
      </div>
      <h5 class="mt-4 mb-2">
        <span class="counter-value" [countUp]="3519">0</span>
      </h5>
      <p class="text-slate-500 dark:text-zink-200">Cancelled</p>
    </div>
  </div>
  <!--end col-->
  <div class="col-span-12 card 2xl:col-span-8">
    <div class="card-body">
      <div class="flex flex-col gap-4 mb-4 md:mb-3 md:items-center md:flex-row">
        <h6 class="grow text-15">Sales Revenue Overview</h6>
      </div>
      <div class="grid grid-cols-12 gap-4 mb-3">
        <div class="col-span-12 md:col-span-6 lg:col-span-3">
          <div class="flex items-center gap-3">
            <div
              class="flex items-center justify-center size-12 rounded-md text-sky-500 bg-sky-50 shrink-0 dark:bg-sky-500/10"
            >
              <lucide-angular [img]="barchart" class="my-icon"></lucide-angular>
            </div>
            <div class="grow">
              <p class="mb-1 text-slate-500 dark:text-zink-200">Total Sales</p>
              <h5 class="text-15">
                $<span
                  class="counter-value"
                  [countUp]="1517.36"
                  [options]="{ decimalPlaces: 2 }"
                  >0</span
                >k
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div id="salesRevenueOverview" class="apex-charts" dir="ltr">
        <apx-chart
          [series]="salesRevenueOverview.series"
          [chart]="salesRevenueOverview.chart"
          [xaxis]="salesRevenueOverview.xaxis"
          [tooltip]="salesRevenueOverview.tooltip"
          [grid]="salesRevenueOverview.grid"
          [plotOptions]="salesRevenueOverview.plotOptions"
          [colors]="salesRevenueOverview.colors"
          [fill]="salesRevenueOverview.fill"
          [legend]="salesRevenueOverview.legend"
          dir="ltr"
        ></apx-chart>
      </div>
    </div>
  </div>
  <!--end col-->
  <div class="col-span-12 card lg:col-span-6 2xl:col-span-3">
    <div class="card-body">
      <div class="flex flex-col gap-4 mb-4 md:mb-3 md:items-center md:flex-row">
        <h6 class="grow text-15 text-center">Revenue by Category</h6>
      </div>
      <div id="chart" class="apex-charts">
        <apx-chart
          [series]="revenueByCategory.series"
          [chart]="revenueByCategory.chart"
          [labels]="revenueByCategory.labels"
          [responsive]="revenueByCategory.responsive"
        ></apx-chart>
      </div>
    </div>
  </div>
  <!--end col-->
  <div class="col-span-12 card lg:col-span-6 2xl:col-span-3">
    <div class="card-body">
      <div class="flex items-center mb-3">
        <h6 class="grow text-15">Top Selling Products</h6>
        <div
          mndropdown
          class="relative dropdown shrink-0"
          placement="bottom-start"
        >
          <button
            mndropdownToggle
            type="button"
            class="flex items-center justify-center size-[30px] p-0 bg-white text-slate-500 btn hover:text-slate-500 hover:bg-slate-100 focus:text-slate-500 focus:bg-slate-100 active:text-slate-500 active:bg-slate-100 dark:bg-zink-700 dark:hover:bg-slate-500/10 dark:focus:bg-slate-500/10 dark:active:bg-slate-500/10 dropdown-toggle"
            id="sellingProductDropdown"
            data-bs-toggle="dropdown"
          >
            <lucide-angular
            [img]="verticalMenu"
              [class]="'inline-block size-4'"
            ></lucide-angular>
          </button>

          <ul
            mndropdownMenu
            class="absolute z-50 py-2 mt-1 ltr:text-left rtl:text-right list-none bg-white rounded-md shadow-md dropdown-menu min-w-[10rem] dark:bg-zink-600"
            aria-labelledby="sellingProductDropdown"
          >
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >1 Weekly</a
              >
            </li>
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >1 Monthly</a
              >
            </li>
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >3 Monthly</a
              >
            </li>
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >6 Monthly</a
              >
            </li>
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >This Yearly</a
              >
            </li>
          </ul>
        </div>
      </div>
      <ul class="flex flex-col gap-5">
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-02.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Mesh Ergonomic Black Chair</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">
            <lucide-angular
              [img]="cart"
              [class]="
                'inline-block size-4 align-middle text-slate-500 dark:text-zink-200 ltr:mr-1 rtl:ml-1'
              "
            ></lucide-angular>
            798
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-03.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Fastcolors Typography Men</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">
            <lucide-angular
              [img]="cart"
              [class]="
                'inline-block size-4 align-middle text-slate-500 dark:text-zink-200 ltr:mr-1 rtl:ml-1'
              "
            ></lucide-angular>
            695
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-04.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Mesh Ergonomic Green Chair</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">
            <lucide-angular
              [img]="cart"
              [class]="
                'inline-block size-4 align-middle text-slate-500 dark:text-zink-200 ltr:mr-1 rtl:ml-1'
              "
            ></lucide-angular>
            985
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-05.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Techel Black Bluetooth Soundbar</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">
            <lucide-angular
              [img]="cart"
              [class]="
                'inline-block size-4 align-middle text-slate-500 dark:text-zink-200 ltr:mr-1 rtl:ml-1'
              "
            ></lucide-angular>
            813
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-06.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Bovet Fleurier AIFSQ029</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">
            <lucide-angular
              [img]="cart"
              [class]="
                'inline-block size-4 align-middle text-slate-500 dark:text-zink-200 ltr:mr-1 rtl:ml-1'
              "
            ></lucide-angular>
            915
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-03.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Fastcolors Typography Men</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">
            <lucide-angular
              [img]="cart"
              [class]="
                'inline-block size-4 align-middle text-slate-500 dark:text-zink-200 ltr:mr-1 rtl:ml-1'
              "
            ></lucide-angular>
            785
          </h6>
        </li>
      </ul>
    </div>
  </div>
  <!--end col-->
  <div class="col-span-12 card lg:col-span-6 2xl:col-span-3">
    <div class="card-body">
      <div class="flex items-center mb-3">
        <h6 class="grow text-15">Low Stocks Products</h6>
        <div
          mndropdown
          class="relative dropdown shrink-0"
          placement="bottom-start"
        >
          <button
            mndropdownToggle
            type="button"
            class="flex items-center justify-center size-[30px] p-0 bg-white text-slate-500 btn hover:text-slate-500 hover:bg-slate-100 focus:text-slate-500 focus:bg-slate-100 active:text-slate-500 active:bg-slate-100 dark:bg-zink-700 dark:hover:bg-slate-500/10 dark:focus:bg-slate-500/10 dark:active:bg-slate-500/10 dropdown-toggle"
            id="sellingProductDropdown"
            data-bs-toggle="dropdown"
          >
            <lucide-angular
            [img]="verticalMenu"
              [class]="'inline-block size-4'"
            ></lucide-angular>
          </button>

          <ul
            mndropdownMenu
            class="absolute z-50 py-2 mt-1 ltr:text-left rtl:text-right list-none bg-white rounded-md shadow-md dropdown-menu min-w-[10rem] dark:bg-zink-600"
            aria-labelledby="sellingProductDropdown"
          >
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >1 Weekly</a
              >
            </li>
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >1 Monthly</a
              >
            </li>
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >3 Monthly</a
              >
            </li>
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >6 Monthly</a
              >
            </li>
            <li>
              <a
                class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200"
                href="javascript:void(0);"
                >This Yearly</a
              >
            </li>
          </ul>
        </div>
      </div>
      <ul class="flex flex-col gap-5">
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-02.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Mesh Ergonomic Black Chair</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">

            798
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-03.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Fastcolors Typography Men</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">

            695
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-04.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Mesh Ergonomic Green Chair</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">

            985
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-05.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Techel Black Bluetooth Soundbar</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">

            813
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-06.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Bovet Fleurier AIFSQ029</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">

            915
          </h6>
        </li>
        <li class="flex items-center gap-3">
          <div
            class="flex items-center justify-center size-10 rounded-md bg-slate-100 dark:bg-zink-600"
          >
            <img src="assets/images/product/img-03.png" alt="" class="h-6" />
          </div>
          <div class="overflow-hidden grow">
            <h6 class="truncate">Fastcolors Typography Men</h6>
            <div class="text-yellow-500">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-fill ms-1"></i>
              <i class="ri-star-half-fill ms-1"></i>
            </div>
          </div>
          <h6 class="shrink-0">

            785
          </h6>
        </li>
      </ul>
    </div>
  </div>
  <!--end col-->
</div>
