<!-- Modal Overlay -->
<div class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
  <!-- Modal Container -->
  <div class="bg-white rounded-lg shadow-lg w-full max-w-4xl flex flex-col md:flex-row">
    <!-- Right Section: Form with Grayish Background Image -->
    <div class="relative w-full p-8 bg-cover bg-center bg-gray-800">
      <!-- Overlay Effect -->
      <div class="absolute inset-0 bg-gray-900 bg-opacity-60"></div>

      <!-- Form Content -->
      <div class="relative z-10 p-6">
        <!-- Modal Header -->
        <div class="flex justify-between items-center border-b pb-3 mb-6">
          <h2 class="text-3xl w-full text-center font-bold text-yellow-400">
            Update Delivery Status
          </h2>
          <button class="text-white hover:text-gray-300" (click)="closeModal(false)">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>

        <!-- Form Fields -->
        <form class="space-y-6">
          <!-- Date Input -->
          <div>
            <label for="DateTime" class="block text-sm font-medium text-gray-300 mb-2">Date and Time</label>
            <input [ngModelOptions]="{ standalone: true }" id="DateTime" [(ngModel)]="DateTime" type="datetime-local" class="w-full px-4 py-3 bg-gray-100 rounded-lg text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-yellow-500" />
          </div>
          <!-- Status Name -->
          <div>
            <label for="statusSelect" class="block text-sm font-medium text-gray-300 mb-2">Select Metal</label>
            <select [ngModelOptions]="{ standalone: true }" id="statusSelect" [(ngModel)]="selectedStatus" class="w-full px-4 py-3 bg-gray-100 rounded-lg text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-yellow-500">
              @for (item of statusList; track $index) {
              <option [value]="item">{{ item }}</option>
              }
            </select>
          </div>

          <!-- Location Input -->
          <div>
            <label for="Location" class="block text-sm font-medium text-gray-300 mb-2">Location Name</label>
            <input [ngModelOptions]="{ standalone: true }" id="Location" [(ngModel)]="Location" type="text" placeholder="Location Name" class="w-full px-4 py-3 bg-gray-100 rounded-lg text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-yellow-500" />
          </div>

          

         

          <!-- Submit Button -->
          <button (click)="save()" type="submit" class="w-full bg-yellow-600 text-white text-lg font-semibold py-3 rounded-lg hover:cursor-pointer hover:bg-yellow-700">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
