<div class="col-span-12 card 2xl:col-span-12">
    <div class="card-body">
      <div class="grid items-center grid-cols-1 gap-3 mb-5 2xl:grid-cols-12">
        <div class="2xl:col-span-3">
          <h6 class="text-15 text-gold-700 text-center">Order Details</h6>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full whitespace-nowrap">
            <thead
              class="ltr:text-left rtl:text-right bg-slate-100 text-slate-500 dark:text-zink-200 dark:bg-zink-600"
            >
              <tr>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                  #
                </th>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                  Image
                </th>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                 Product Name
                </th>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                 Quantity
                </th>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                 Unit Price
                </th>
              </tr>
            </thead>
            <tbody>
              @for (item of itemList; track $index) {
              <tr class="text-center">
                <td
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                 {{item.Order_Item_ID}}
                </td>
                <td
                  class="flex justify-center px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                 <img class="h-12" [src]="getImage(item.Product_Image)" [alt]="item.Product_Name">
                </td>
                <td
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                  {{item.Product_Name}}
                </td>
                <td
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                 {{item.Quantity}}
                </td>
                <td
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                 {{item.Unit_Price | currency: 'INR'}}
                </td>
              </tr>
            }
            </tbody>
          </table>
          @if (itemList.length >0) {
          <div class="mt-5 flex flex-wrap">
            <h6 class="text-15 text-gold-700">Payment Status :</h6>
            <p class="pl-3" >{{itemList[0].Payment_Status}}</p>
          </div>
          
          <div class="mt-5 flex flex-wrap">
            <h6 class="text-15 text-gold-700">Billing Address :</h6>
            <p class="pl-3" >{{itemList[0].Billing_Address}}</p>
          </div>
          <div class="mt-5 flex flex-wrap">
            <h6 class="text-15 text-gold-700">Shipping Address :</h6>
            <p class="pl-3" >{{itemList[0].Shipping_Address}}</p>
          </div>
        }
      </div>
    </div>
  </div>
        
   
  