<div class="col-span-12 card 2xl:col-span-12">
    <div class="card-body">
      <div class="grid items-center grid-cols-1 gap-3 mb-5 2xl:grid-cols-12">
        <div class="2xl:col-span-3">
          <h6 class="text-15 text-gold-700 text-center">Order Details</h6>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full whitespace-nowrap">
            <thead
              class="ltr:text-left rtl:text-right bg-slate-100 text-slate-500 dark:text-zink-200 dark:bg-zink-600"
            >
              <tr>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                  #
                </th>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                  Image
                </th>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                 Product Name
                </th>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                 Quantity
                </th>
                <th
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500"
                >
                 Amount
                </th>
               
              </tr>
            </thead>
            <tbody>
              
              <tr class="text-center">
                <td
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                 1
                </td>
                <td
                  class="flex justify-center px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                 <img class="h-12" src="../../../../assets/dummy/400_400.jpeg" alt="">
                </td>
                <td
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                  King size ing with diamond
                </td>
                <td
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                  34
                </td>
                <td
                  class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500"
                >
                 300
                </td>
                
               
              </tr>
              
            </tbody>
          </table>
      </div>
    </div>
  </div>
  